#textdomain wesnoth-The_Three_Elves

[scenario]
	id=2) The golden chest
	name= _ "2) The golden chest"
	map_data="{@campaigns/The_Three_Elves/maps/2_The_golden_chest.map}"
	{DEFAULT_SCHEDULE}
	{DEFAULT_MUSIC_PLAYLIST}

	turns=30
	next_scenario="3) Rise of the undead"

	[story]
		[part]
			story= _ "Gold is treacherous. Its great value caused many problems through the history. Sometimes it even makes enemies from recent allies. Enemies prepared to kill eachother as fast as possible."
		[/part]
	[/story]

	[side]
		side=1
		controller=human
		canrecruit=yes

		#ifdef EASY
			gold=300
			recruit=Elvish Fighter,Elvish Archer,Elvish Shaman
		#else
			gold=200
			recruit=Elvish Fighter,Elvish Archer
		#endif

		team_name=elves
		user_team_name= _ "teamname^Elves"

		type=Elvish Captain
		description=Merhil
		user_description= _ "Merhil"
		unrenamable=yes
		{IS_HERO}
		[unit]
			type=Elvish Shaman
			description=Durondela
			user_description= _ "Durondela"
			side=1
			x=3
			y=3
		[/unit]
		[unit]
			type=Elvish Hero
			description=Aglarond
			user_description= _ "Aglarond"
			side=1
			x=5
			y=5
		[/unit]
		[unit]
			type=Elvish Rider
			description=Roccondil
			user_description= _ "Roccondil"
			side=1
			x=6
			y=5
		[/unit]
	[/side]
	[side]
		side=2
		controller=ai
		canrecruit=yes
		#ifdef EASY
		gold=80
			recruit=Peasant,Woodsman
			[ai]
				recruitment_pattern=fighter,archer
			[/ai]
		#else
		gold=80
			recruit=Peasant,Woodsman,Spearman
			[ai]
				recruitment_pattern=archer,fighter,archer
			[/ai]
		#endif

		team_name=Villagers
		user_team_name= _ "teamname^Villagers"

		type=Spearman
		description=Ted
		user_description= _ "Ted"
		unrenamable=yes
	[/side]
	[side]
		side=3
		controller=ai
		canrecruit=yes
		#ifdef EASY
			recruit=Peasant,Woodsman
			[ai]
				recruitment_pattern=fighter,archer
			[/ai]
		#else
			recruit=Peasant,Woodsman,Bowman
			[ai]
				recruitment_pattern=fighter,archer,archer
			[/ai]
		#endif

		team_name=Villagers
		user_team_name= _ "teamname^Villagers"

		type=Poacher
		description=Herbert
		user_description= _ "Herbert"
		unrenamable=yes
	[/side]
	[side]
		side=4
		controller=ai
		canrecruit=yes
		#ifdef EASY
			gold=40
			recruit=Elvish Archer
		#else
			gold=85
			recruit=Elvish Ranger
		#endif


		team_name=Villagers
		user_team_name= _ "teamname^Villagers"

		type=Elvish Avenger
		description=Samin Leafstel
		user_description= _ "Samin Leafstel"
		unrenamable=yes
		{IS_HERO}
            [modifications]
		{TRAIT_LOYAL}
		{TRAIT_DEXTROUS}
            [/modifications]
		#ifdef EASY


		#else
		[unit]
			type=Poacher
			description=Nameless one
			user_description= _ "Nameless one"
			side=4
			x=15
			y=9
		[/unit]
		[unit]
			type=Poacher
			description=Nameless one
			user_description= _ "Nameless one"
			side=4
			x=16
			y=9
		[/unit]
		[unit]
			type=Poacher
			description=Nameless one
			user_description= _ "Nameless one"
			side=4
			x=16
			y=8
		[/unit]
		[unit]
			type=Poacher
			description=Nameless one
			user_description= _ "Nameless one"
			side=4
			x=7
			y=8
		[/unit]
		#endif
	[/side]
	[event]
		name=prestart
		[objectives]
			side=1
			[objective]
				condition=win
				description= _ "Defeat Ted"
			[/objective]
			[objective]
				condition=win
				description= _ "Samin Leafstel must surrender to you"
			[/objective]
			[objective]
				condition=lose
				description= _ "Death of Merhil, Nerelia, or Lahias"
			[/objective]
			[objective]
				condition=lose
				description= _ "Turns run out"
			[/objective]
		[/objectives]
	[/event]

	[event]
		name=start
		[recall]
			description=Nerelia
			x=7
			y=4
		{IS_HERO}
		[/recall]
		[recall]
			description=Lahias
			x=4
			y=7
		{IS_HERO}
		[/recall]
		[message]
			description=Ted
			message= _ "Time for our revenge has come! Surrender to our united forces!"
		[/message]
		[message]
			description=Lahias
			message= _ "Oh, what about this? I will destroy your base, Nerelia the base of your east ally and Merhil...
WHAT THE HELL IS THAT RANGER DOING HERE?"
		[/message]
		[message]
			description=Samin Leafstel
			message= _ "I am Samin Leafstel, and I have become a chief in one human village. It's a long story. But I am here to defeat anyone who stands against these peaceful villagers."
		[/message]
		[message]
			description=Nerelia
			message= _ "Brother? What are you doing? You do not recognize us?"
		[/message]
		[message]
			description=Samin Leafstel
			message= _ "I do recognize you quite well, silly girl. But hear my words - your deads were already source of much evil. I can't leave you alive, any of you. Prepare to attack!"
		[/message]
	[/event]
	[event]
		name=victory
		[message]
			description=Merhil
			message= _ "Okay, we just won again... what's up next?"
		[/message]
	[/event]
	[event]
		name=turn 16
        [unit]
            type=Cavalryman
            side=2
            x=2
            y=18
        [/unit]
        [unit]
            type=Cavalryman
            side=2
            x=3
            y=19
        [/unit]
		#ifdef EASY

		#else
        [unit]
            type=Cavalryman
            side=2
            x=4
            y=19
        [/unit]
		#endif
        [unit]
            type=Elvish Archer
           description=Harolim
            side=1
            x=4
            y=18
        [/unit]
		[message]
			speaker=Ted
			message= _ "Smash 'em, boys!"
		[/message]
		[message]
			speaker=Harolim
			message= _ "Save me!"
			experience=35
		[/message]
	[/event]

	[event]
		name=turn 3
			[message]
			speaker=Samin Leafstel
			message= _ "Mermen from the far seas, attack!"
		[/message]
        [unit]
            type=Merman Hunter
            side=4
            x=20
            y=8
        [/unit]
        [unit]
            type=Merman Hunter
            side=4
            x=20
            y=9
        [/unit]
	[/event]

	[event]
		name=die
		[filter]
			description=Merhil
		[/filter]
		[message]
			speaker=unit
			message= _ "Death? Do you hear me? It is NOT my time! Not yet! Arghhh!"
		[/message]
		[endlevel]
			result=defeat
		[/endlevel]
	[/event]

	[event]
		name=die
		[filter]
			description=Nerelia
		[/filter]
		[message]
			speaker=unit
			message= _ "Now I am going to take some rest, far from these bloodhirsty beasts... farewell my friends"
		[/message]
		[endlevel]
			result=defeat
		[/endlevel]
	[/event]
	[event]
		name=die
		[filter]
			description=Lahias
		[/filter]
		[message]
			speaker=unit
			message= _ "I am too young for such unhappy end."
		[/message]
		[endlevel]
			result=defeat
		[/endlevel]
	[/event]
	[event]
		name=die
		[filter]
			description=Herbert
		[/filter]
		[message]
			speaker=unit
			message= _ "My friends will avenge me!"
		[/message]
		        [move_unit_fake]
            type=Elvish Scout
            side=1
            x=0,1,2
            y=0,1,1
        [/move_unit_fake]
        [unit]
		type=Elvish Scout
        	description=Veralas
		user_description= _ "Veralas"
            side=1
            x=2
            y=1
        [/unit]
        [message]
			description=Veralas
			message= _ "I saw a band of Undead heading this way. We must prepare ourselves!"
		[/message]
	[/event]
	[event]
		name=die
		[filter]
			description=Durondela
		[/filter]
		#ifdef EASY

		#else
		[message]
			speaker=Merhil
			message= _ "We will miss her. It wil get hard without her."
		[/message]
		#endif
	[/event]
	[event]
		name=die
		[filter]
			description=Samin Leafstel
		[/filter]
		[message]
			description=Merhil
			message= _ "Any last wish?"
		[/message]
		[message]
			description=Samin Leafstel
			message= _ "Let me live. I can help you. I was at the journey west to seek help of the Brotherhood of Light. They must have something against that wretched undead."
		[/message]
		[message]
			description=Nerelia
			message= _ "Lies. You are no longer my brother. Merhil, kill him."
		[/message]
		[message]
			description=Lahias
			message= _ "Let me do it!"
		[/message]
		[message]
			description=Lahias
			message= _ "Now I will cut your throat, or... maybe..."
		[/message]
		[message]
			description=Samin Leafstel
			message= _ "Maybe what?"
		[/message]
		[message]
			description=Lahias
			message= _ "You will become our ally in the final battle."
		[/message]
		[message]
			description=Samin Leafstel
			message= _ "Okay, I agree. Next time we meet, I will save YOUR life. Farewell for now. And sister, please, forgive me."
		[/message]
		[message]
			description=Nerelia
			message= _ "You are now oblidged Lahias... brother."
		[/message]

[event]
		name=die
		[filter]
			description=Ted
		[/filter]
		[message]
			description=Ted
			message= _ "My village, my people! All is lost now!"
		[/message]
		[message]
			description=Lahias
			message= _ "Merhil, do you hear it?"
		[/message]
		[message]
			description=Merhil
			message= _ "What?"
		[/message]
		[message]
			description=Lahias
			message= _ "A storm or something... I sense a great dark energy. It is near, very near!"
		[/message]
		[message]
			description=Nerelia
			message= _ "It's here! I can feel it close to my body!"
		[/message]
		[message]
			description=Ted
			message= _ "Aaaaaargh!"
		[/message]
        [sound]
            name=lightning.ogg
        [/sound]
        [colour_adjust]
            red=-100
            green=-100
            blue=-100
        [/colour_adjust]
        [delay]
            time=10
        [/delay]
        [colour_adjust]
            red=0
            green=0
            blue=0
        [/colour_adjust]
		[message]
			description=Lahias
			message= _ "He disappeared. Strange, very strange. What will we do now?"
		[/message]
		


	[/event]

	[/event]

[/scenario]
