#textdomain wesnoth-The_Three_Elves
[textdomain]
	name=wesnoth-The_Three_Elves
	path="data/campaigns/The_Three_Elves/translations"
[/textdomain]


	
[campaign]
	id=The Three Elves
	abbrev= _ "The Three Elves"
	icon="units/elves-wood/avenger.png"
	name= _ "<40,160,40>" + _"The Three Elves"
    abbrev= _ "TTE"
    define=CAMPAIGN_THE_THREE_ELVES

	description=_"Three elves have just begun their adventure in the northern swampland. Will they become heroes or will they be responsible for another undead expansion?
 
Good for both beginners and experts
 
6 scenarios + interlude"
	difficulties=EASY,HARD
	difficulty_descriptions= "*" +
		{MENU_IMG_TXT2 "units/elves-wood/archer.png~RC(magenta>green)" _"Archer" _"(Easy)"} +
		";" +
		{MENU_IMG_TXT2 "units/elves-wood/avenger.png~RC(magenta>green)" _"Avenger" _"(Hard)"}

    image=portraits/small.png
	first_scenario="1) Into the swamp"


    [about]
        title = _ "Campaign Design"
        [entry]
            name = "Stanislav Hoferek"
        [/entry]
    [/about]
    [about]
        title = _ "Campaign Maintenance"
        [entry]
            name = "Viliam Bur"
        [/entry]
    [/about]
    [about]
        title = _ "Text corrections"
        [entry]
            name = _ "Anezka Bubenickova"
        [/entry]
    [/about]
    [about]
        title = _ "Also many thanks to:"
        [entry]
            name = _ "Db0, Elvish Pillager, Fendrin and zookeeper (yes, not capitalized)"
        [/entry]
    [/about]






[/campaign]

#ifdef CAMPAIGN_THE_THREE_ELVES
	[binary_path]
		path="data/campaigns/The_Three_Elves"
	[/binary_path]
	{@campaigns/The_Three_Elves/scenarios}
[+units]
    {@campaigns/The_Three_Elves/units}
[/units]
#endif
